.content {
    width: 100%;
    overflow-y: auto;
    height: inherit;
    position: absolute;
    top: 0px;
    z-index: 2;
    &.m-load {
        background-color: lightgray;
    }
    & > div {
        padding-top: 120px;
        overflow: scroll;
    }
    &__table{
        width: 94%;
        word-break: break-all;
        margin-left: 3%;
        height: 100%;
        cursor: pointer;
        &-head {
            position: fixed;
            top: 70px;
            width: 94%;
            background-color: #006a72;
            color: #fff;
            font-weight: 400;
            font-style: italic;
            line-height: 50px;
            z-index: 1;
            margin-left: -1px;
        }
        & th {
            border: 1px solid grey;
            &:hover {
                opacity: 0.75;
            }
            &:nth-child(1) {
                width: 1%;
                min-width: 49px;
            }
            &:nth-child(2) {
                width: 1%;
                min-width: 69px;
            }
            &:nth-child(3) {
                width: 1%;
                min-width: 149px;
            }
            &:nth-child(4) {
                width: 1%;
                min-width: 49px;
            }
            &:nth-child(5) {
                width: 1%;
                min-width: 119px;
            }
            &:nth-child(6) {
                width: 1%;
                min-width: 39px;
            }
            &:nth-child(7) {
                width: 1%;
                min-width: 119px;
            }
            &:nth-child(8) {
                width: 1%;
                min-width: 39px;
            }
            &:nth-child(9) {
                width: 1%;
                min-width: 99px;
            }
            &:nth-child(10) {
                width: 1%;
                min-width: 49px;
            }
            &:nth-child(11) {
                width: 1%;
                min-width: 49px;
            }
            &:nth-child(12) {
                width: 1%;
                min-width: 149px;
            }
        }
        &-tr {
            height: 50px;
            &:nth-child(odd) {
                background-color: lavender;
            }
            &:hover, & .m-highlighted{
                background-color: honeydew;
            }
        }
        &-td {
            border-color: grey;
            &:hover {
                background-color: lightgreen;
            }
            &-div{
                height: 100%;
                width: 100%;
                overflow: hidden;
                word-break: break-all;
                display: table;
                position: relative;
            }
            &-span {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                word-break: break-word;
            }
            & .m-icon {
                width: 50px;
                height: 50px;
                width: 32px;
                height: 32px;
                position: relative;
                top: 9px;
                left: 9px;
                background-position: center;
                background-repeat: no-repeat;
                &.m-arrival {
                    background-image: url(../img/icons/icon-arrival.png);
                }
                &.m-departure {
                    background-image: url(../img/icons/icon-departure.png);
                }
                &.m-contain {
                    background-size: contain;
                }
            }

        }
    }
}
body {
    &.m-scrolled {
        & .header__container, .header__bg {
            display: none;
            height: 0px;
        }
        & .content__table-head {
            top: 0;
        }
        & .content > div{
            padding-top: 50px;
        }
    }
}
/*
@media (max-width: 900px) {
    td:nth-child(3), th:nth-child(3) {
        display: none;
    }
}
*/