.layer {
    &-label {
        text-align: center;
        font-size: 20px;
        line-height: 49px;
        position: fixed;
        width: 448px;
        background-color: azure;
        border: none;
        margin-left: 25px;
        border-bottom: 1px solid black;
        z-index: 10;
    }
    &__item {
        width: 90%;
        margin-left: 5%;
        background-color: azure;
        border-top: 1px solid gray;
        height: 30px;
        &:nth-child(2) {
            margin-top: 51px;;
        }
        &-key {
            background-color: inherit;
            text-align: right;
            padding-right: 10px;
            line-height: 28px;
            border: none;
            border-right: 2px solid black;
            position: relative;
            top: 0;
            width: 140px;
            left: 0;
        }
        &-value {
            background-color: inherit;
            text-align: left;
            padding-left: 10px;
            line-height: 28px;
            width: 270px;
            border: none;
            position: relative;
            top: 0;
            right: 0;
        }
    }
    &-overlay {
        opacity: 0.6;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;    
        width: 100%;
        height: 100%;
    }
    &__container {
        position: absolute;
        z-index: 10001;
        width: 100%;
        height: 100%;
        top: 0;
        width: 100%;
        left: 0;
        &.m-hidden {
            display: none;
        }
        &-data {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            max-height: 500px;
            overflow: auto;
            width: 500px;
            position: absolute;
        }
    }
    &__button{
        height: 50px;
        width:  50px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
        &.m-close {
            background-image: url(../img/icons/icon-close.png);
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
.hider {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: azure;
    z-index: 1300;
    & > span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50px;
        width: 400px;
        margin: auto;
    }
}
@media (max-width: 649px) {
    .hider {
        display: block;
    }
}