.header {
    height: 50px;
    width: 100%;
    &__container {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height: 50px;
        z-index:1000;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &-inner{
            border-bottom: 1px solid rgb(167, 154, 154);
            height: 100%;
            margin-left: 3%;
            width: 94%;
        }
    }
    &__airport {
        &-container{
            display: flex;
            width: 100%;
        }
    }
    &__search {
        display: table-cell;
        width: 20%;
        height: 41px;
        position: relative;
        &-box{
            width: 100%;
            height: 100%;
            line-height: 37px;
            border: 1px solid gray;
            box-sizing: border-box;
            margin-top: 5px;
            &:not(.m-button) {
                padding-left: 40px;
            }
            &:hover:not(.m-button) {
                border-color: orange;
            }
            &.m-button {
                background-color: darkorange;
                cursor: pointer;
                color: white;
                text-align: center;
                &:hover {
                    background-color: orange;
                }
            }
        }
        &-button {
            background-image: url(../img/icons/icon-down.png);
            width: 32px;
            height: 32px;
            position: relative;
            top: -36px;
            left: 5px;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }

}