.header {
    height: 50px;
    width: 100%;
    &__bg {
        position: fixed;
        width: 100%;
        height: 71px;
        background-color: white;
    }
    &__time{
        &-container {
            width: 100%;
            height: 20px;
            margin-top: 10px;
            &.m-hidden {
                display: none;
            }
        }
        &-value{
            width: 100px;
            float: right;
        }
        &-label{
            width: 100px;
            float: right;
        }
    }
    &__container {
        position:fixed;
        background-color: white;
        z-index: 10000;
        top:0;
        left:0;
        width:100%;
        height: 50px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &-inner{
            border-bottom: 1px solid rgb(167, 154, 154);
            height: 100%;
            margin-left: 3%;
            width: 94%;
        }
    }
    &__airport {
        &-container{
            display: flex;
            width: 100%;
        }
    }
    &__search {
        display: table-cell;
        width: 20%;
        height: 41px;
        position: relative;
        &.m-filled > .header__search-clear {
            background-image: url(../img/icons/icon-clear.png) !important;
        }
        &-box{
            width: 100%;
            height: 100%;
            line-height: 37px;
            border: 1px solid gray;
            box-sizing: border-box;
            margin-top: 5px;
            &:not(.m-button) {
                padding-left: 40px;
                padding-right: 40px;
            }
            &:hover:not(.m-button) {
                border-color: orange;
            }
            &.m-button {
                background-color: darkorange;
                cursor: pointer;
                color: white;
                text-align: center;
                &:hover {
                    background-color: orange;
                }
            }
            &.m-green {
                background-color: greenyellow;
            }
            &.m-load {
                background-color: honeydew;
            }
        }
        &-suggestions {
            width: 100%;
            max-height: 300px;
            border: 1px solid gray;
            box-sizing: border-box;
            background-color: white;
            overflow: auto;
            position: absolute;
            border-bottom: 1px solid gray;
            &:not(.m-visible) {
                display: none;
            }
        }
        &__result{
            input {
                display: table-cell;
                line-height: 50px;
                box-sizing: border-box;
                padding-left: 10px;
            }
            display: table-row;
            &-info {
                width: 80%;
                cursor: pointer;
            }
            &-count {
                width: 20%;
            }
        }
        &-button {
            width: 32px;
            height: 32px;
            position: relative;
            top: -36px;
            left: 5px;
            float: left;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
            background-image: url(../img/icons/icon-down.png);
        }
        &-clear{
            width: 32px;
            height: 32px;
            position: relative;
            top: -36px;
            float: right;
            right: 5px;
            cursor: pointer;
            &.m-{
                &country {
                    background-image: url(../img/icons/icon-country.png);
                }
                &town {
                    background-image: url(../img/icons/icon-town.png);
                }
                &airport {
                    background-image: url(../img/icons/icon-airport.png);
                }
                &number {
                    background-image: url(../img/icons/icon-number.png);
                }
            }
        }
    }

}
html, body {
    height: 100%;
}