<section class="content m-hidden" data-bind-scroll="tableScroll" >
    <div class="content__filter m-arrivals" data-bind-click="filterTableByType" data-filter-param="arrival"></div>
    <div class="content__filter m-deparures" data-bind-click="filterTableByType" data-filter-param="departure"></div>
    <div class="content__filter m-showUp m-right" data-bind-click="showNext"></div>
    <div class="content__filter m-showDown m-right" data-bind-click="showPrev"></div>
    <div class="content__table-container">
        <table border="1" class='content__table'>
            <col width="50">
            <col width="70">
            <col width="150">
            <col width="50">
            <col width="120">
            <col width="40">
            <col width="120">
            <col width="40">
            <col width="100">
            <col width="50">
            <col width="50">
            <col width="150">


            <thead class="content__table-head">
                <th>Type</th>
                <th>Flight</th>
                <th>Airlines</th>
                <th>AL</th>
                <th>From</th>
                <th>DEP</th>
                <th>To</th>
                <th>ARR</th>
                <th>Time</th>
                <th>Status</th>
                <th>EC</th>
                <th>Plane</th>
                <th>Comments</th>
            </thead>

            </thead>
            <tbody class="content__table-body" id="contentRow">


            </tbody>
        </table>
    </div>
</section>
