<section class="content m-hidden" >
    <div class="content__filter m-arrivals" data-bind-click="filterTableByType" data-filter-param="arrival"></div>
    <div class="content__filter m-deparures" data-bind-click="filterTableByType" data-filter-param="departure"></div>
    <div class="content__filter m-showUp m-right" data-bind-click="showNext"></div>
    <div class="content__filter m-showDown m-right" data-bind-click="showPrev"></div>
    <div class="content__filter m-filter m-right" data-bind-click="filterResults"></div>
    <div class="content__filter-container m-hidden">
        <input class="content__filter-input" placeholder="Your search"/>
        <input readonly class="content__filter-button" data-bind-click="addFilterTag"/>
    </div>
    <div class="content__table-container">
        <div class="loader m-hidden"></div>
        <div class='content__table'>
            <div class="content__table-head">
                <div  class='content__table-th' ><span class="content__table-th-span">Type</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">Flight</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">Airlines</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">AL</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">From</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">DEP</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">To</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">ARR</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">Time</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">Status</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">EC</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">Plane</span></div>
                <div  class='content__table-th' ><span class="content__table-th-span">Comments</span></div>
            </div>

            <div class="content__table-body" id="contentRow">


            </div>
        </div>
    </div>
</section>
