<section class="content" data-bind-scroll="tableScroll">
    <div>
        <table border="1" class='content__table'>
            <col width="50">
            <col width="70">
            <col width="150">
            <col width="50">
            <col width="120">
            <col width="40">


            <thead class="content__table-head">
                <th>Type</th>
                <th>Flight</th>
                <th>Airlines</th>
                <th>AL</th>
                <th>From</th>
                <th>DEP</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Status</th>
                <th>Comment</th>
            </thead>

            </thead>
            <tbody class="content__table-body" id="contentRow">


            </tbody>
        </table>
    </div>
</section>
