        <section class="footer">
                <div class="layer__container m-hidden">
                        <div class="layer-overlay"></div>
                        <div class="layer__button m-close" data-bind-click="layerClose"></div>
                        <div class="layer__container-data">
                             <input class="layer-label" readonly value="Full Flight Info"/>
                        </div>
                </div>
        </section>

        <script src="js/main.js"></script>
        //= templates.html
        </body>
</html>