<!DOCTYPE html>
<html>
    <head lang = 'ru'>
        <meta charset="UTF-8">
        <title>Yandex Shri AirLines TimeTables</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <section class="header">
            <div class="header__container">
                <div class="header__container-inner">
                    <div class="header__airport-container">
                        <div class="header__search">
                            <input class="header__search-box" placeholder="Country" />
                            <div class="header__search-button" data-bind-events="click" data-bind-click="listAirportSuggestions" data-filter="country"></div>
                        </div>
                        <div class="header__search">
                            <input class="header__search-box" placeholder="City" />
                            <div class="header__search-button" data-bind-events="click" data-bind-click="listAirportSuggestions" data-filter="city"></div>
                        </div>
                        <div class="header__search">
                            <input class="header__search-box" placeholder="Airport" />
                            <div class="header__search-button" data-bind-events="click" data-bind-click="listAirportSuggestions" data-filter="name"></div>
                        </div>
                        <div class="header__search">
                            <input class="header__search-box" placeholder="Code" />
                            <div class="header__search-button" data-bind-events="click" data-bind-click="listAirportSuggestions" data-filter="code"></div>
                        </div>
                        <div class="header__search">
                            <input class="header__search-box m-button" value="Search" readonly/>
                        </div>
                    </div>
                </div>
            </div>
        </section>