<!DOCTYPE html>
<html>
    <head lang = 'ru'>
        <meta charset="UTF-8">
        <title>Yandex Shri AirLines TimeTables</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <section class="header">
            <div class="header__container">
                <div class="header__container-inner">
                    <div class="header__airport-container">
                        <div class="header__search">
                            <input class="header__search-box"
                                   data-bind-keyup="iconsSwitch"
                                   data-bind-events="keyup"
                                   placeholder="Country"
                                   data-filter="country"/>
                            <div class="header__search-button"
                                 data-bind-events="click"
                                 data-bind-click="listAirportSuggestions">
                            </div>
                            <div class="header__search-clear m-country"
                                 data-bind-events="click"
                                 data-bind-click="clearInput"></div>
                            <div class="header-search-sudgessions"></div>
                        </div>
                        <div class="header__search">
                            <input class="header__search-box"
                                   data-bind-keyup="iconsSwitch"
                                   data-bind-events="keyup"
                                   placeholder="City"
                                   data-filter="city"/>
                            <div class="header__search-button"
                                 data-bind-events="click"
                                 data-bind-click="listAirportSuggestions">
                            </div>
                            <div class="header__search-clear m-town"
                                 data-bind-events="click"
                                 data-bind-click="clearInput"></div>
                        </div>
                        <div class="header__search">
                            <input class="header__search-box"
                                   data-bind-keyup="iconsSwitch"
                                   data-bind-events="keyup"
                                   placeholder="Airport"
                                   data-filter="name"/>
                            <div class="header__search-button"
                                 data-bind-events="click"
                                 data-bind-click="listAirportSuggestions">
                            </div>
                            <div class="header__search-clear m-airport"
                                 data-bind-events="click"
                                 data-bind-click="clearInput"></div>
                        </div>
                        <div class="header__search">
                            <input class="header__search-box"
                                   data-bind-keyup="iconsSwitch"
                                   data-bind-events="keyup"
                                   placeholder="Code"
                                   data-filter="code"/>
                            <div class="header__search-button"
                                 data-bind-events="click"
                                 data-bind-click="listAirportSuggestions">
                            </div>
                            <div class="header__search-clear m-number"
                                 data-bind-events="click"
                                 data-bind-click="clearInput"></div>
                        </div>
                        <div class="header__search">
                            <input class="header__search-box m-button" value="Show" readonly/>
                        </div>
                    </div>
                </div>
            </div>
        </section>