<!DOCTYPE html>
<html>
    <head lang = 'ru'>
        <meta charset="UTF-8">
        <title>Yandex Shri AirLines TimeTables</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <section class="header">
            <div class="header__container">
                <div class="header__container-inner">
                    <div class="header__airport-cotiner">
                        <label class="header__airport-label">Select airport: </label>
                        <input class="header__airport-selector" placeholder="Select or begin to type" />
                        <div class="header__airport-dropdown-button" data-bind-events="click" data-bind-click="Handlers.airportSelect"></div>
                    </div>
                </div>
            </div>
        </section>