<script id="tAirportSearchResult" type="text/x-jquery-tmpl">
    <div class="header__search__result">
        <input class="header__search__result-info"  data-bind-click="continueAirportSearch" value="${name}" readonly/>
        <input class="header__search__result-count"  value="${count}" readonly/>
    </div>
</script>

<script id="flightRow" type="text/x-jquery-tmpl">
    <tr class="content__table-tr">
       <td class="content__table-td" data-bind-mouseenter='hoverTableColumn' data-bind-mouseleave='hoverLeaveTableColumn'><div class='content__table-td-div'>${type}</div></td>
       <td class="content__table-td" data-bind-mouseenter='hoverTableColumn' data-bind-mouseleave='hoverLeaveTableColumn'><div class='content__table-td-div'>${flight}</div></td>
       <td class="content__table-td" data-bind-mouseenter='hoverTableColumn' data-bind-mouseleave='hoverLeaveTableColumn'><div class='content__table-td-div'>${airlines}</div></td>
       <td class="content__table-td" data-bind-mouseenter='hoverTableColumn' data-bind-mouseleave='hoverLeaveTableColumn'><div class='content__table-td-div'><div class="content__table-logo" style="background: url(${logo})"></div></div></td>
       <td class="content__table-td" data-bind-mouseenter='hoverTableColumn' data-bind-mouseleave='hoverLeaveTableColumn'><div class='content__table-td-div'>${planeType}</div></td>
       <td class="content__table-td" data-bind-mouseenter='hoverTableColumn' data-bind-mouseleave='hoverLeaveTableColumn'><div class='content__table-td-div'>${destination}</div></td>
       <td class="content__table-td" data-bind-mouseenter='hoverTableColumn' data-bind-mouseleave='hoverLeaveTableColumn'><div class='content__table-td-div'>${departure}</div></td>
       <td class="content__table-td" data-bind-mouseenter='hoverTableColumn' data-bind-mouseleave='hoverLeaveTableColumn'><div class='content__table-td-div'>${arrival}</div></td>
       <td class="content__table-td" data-bind-mouseenter='hoverTableColumn' data-bind-mouseleave='hoverLeaveTableColumn'><div class='content__table-td-div'>${status}</div></td>
       <td class="content__table-td" data-bind-mouseenter='hoverTableColumn' data-bind-mouseleave='hoverLeaveTableColumn'><div class='content__table-td-div'>${comment}</div></td>
    </tr>
</script>