<script id="tAirportSearchResult" type="text/x-jquery-tmpl">
    <div class="header__search__result">
        <input class="header__search__result-info"  data-bind-click="continueAirportSearch" value="${name}" readonly/>
        <input class="header__search__result-count"  value="${count}" readonly/>
    </div>
</script>

<script id="flightRow" type="text/x-jquery-tmpl">
    <tr class="content__table-tr">
       <td class="content__table-td" data-bind-mouseenter="hoverTableColumn" data-bind-mouseleave="hoverLeaveTableColumn">
            <div class="content__table-td-div">
                <div class="m-icon m-${type}">
            </div>
       </td>
       <td class="content__table-td" data-bind-mouseenter="hoverTableColumn" data-bind-mouseleave="hoverLeaveTableColumn">
            <div class="content__table-td-div">
                <span class="content__table-td-span">
                    ${flight}
                </span>
            </div>
        </td>
       <td class="content__table-td" data-bind-mouseenter="hoverTableColumn" data-bind-mouseleave="hoverLeaveTableColumn">
            <div class="content__table-td-div">
                <span class="content__table-td-span">
                    ${carrier}
                </span>
            </div>
        </td>
       <td class="content__table-td" data-bind-mouseenter="hoverTableColumn" data-bind-mouseleave="hoverLeaveTableColumn">
            <div class="content__table-td-div">
                <div class="m-icon m-contain" style="background-image: url(http://logos.skyscnr.com/images/airlines/favicon/${carrierFsCode}.png) "></div>
            </div>
        </td>
       <td class="content__table-td" data-bind-mouseenter="hoverTableColumn" data-bind-mouseleave="hoverLeaveTableColumn">
             <div class="content__table-td-div">
                <span class="content__table-td-span">
                    ${departureAirportCity}
                </span>
            </div>
        </td>
        <td class="content__table-td" data-bind-mouseenter="hoverTableColumn" data-bind-mouseleave="hoverLeaveTableColumn">
             <div class="content__table-td-div">
                <span class="content__table-td-span">
                    ${departureAirportFsCode}
                </span>
            </div>
        </td>


       <td class="content__table-td" data-bind-mouseenter="hoverTableColumn" data-bind-mouseleave="hoverLeaveTableColumn"><div class="content__table-td-div">${destination}</div></td>
       <td class="content__table-td" data-bind-mouseenter="hoverTableColumn" data-bind-mouseleave="hoverLeaveTableColumn"><div class="content__table-td-div">${departure}</div></td>
       <td class="content__table-td" data-bind-mouseenter="hoverTableColumn" data-bind-mouseleave="hoverLeaveTableColumn"><div class="content__table-td-div">${arrival}</div></td>
       <td class="content__table-td" data-bind-mouseenter="hoverTableColumn" data-bind-mouseleave="hoverLeaveTableColumn"><div class="content__table-td-div">${status}</div></td>
       <td class="content__table-td" data-bind-mouseenter="hoverTableColumn" data-bind-mouseleave="hoverLeaveTableColumn"><div class="content__table-td-div">${comment}</div></td>
    </tr>
</script>
<!--
"flight": "RU614",
"carrierFsCode": "RU",
"carrier": "AirBridgeCargo",
"departureAirportFsCode": "ZAZ",
"arrivalAirportFsCode": "SVO",
"departureDate": "2015-08-08T11:00:00.000",
"arrivalDate": "2015-08-08T16:40:00.000",
"status": "U",
"flightEquipmentCode": "74N",
"flightEquipment": "Boeing 747-8F Freighter",
"arrivalTerminal": null,
"departureTerminal": null,
"departureGate": null
-->