.header {
    &__container {
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        &-inner{
            width: 94%;
            height: 100%;
            margin-left: 3%;
            border-bottom: 1px solid rgb(167, 154, 154);
        }
    }
    &__airport {
        &-label {
            position: absolute;
            top: 15px;
            width: 100px;
        }
        &-selector {
            position: absolute;
            top: 14px;
            left: 130px;
            width: 100px;
            margin-left: 3%;
        }
    }

}